.conteiner2A {

    width: 1049px;
    height: 872px;
    border: 2px solid rgba(46, 212, 122, 1);
    border-radius: 12px;
    display: grid;
    grid-template-columns: 50% ;
    justify-content:  center;
    align-self: center;
    align-items: center;
    margin: auto;
}

.conteiner1B {
    width: 1049px;
    height: 872px;
    border: 2px solid #FFC228;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: auto;
}

.grid-conteiner>div {
    border: 2px solid #FFC228;
    border-radius: 12px;
    width: 150px;
    height: 200px;
}

.grid-conteiner {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    padding: 30px;
}

.row {
    width: 904px;
    height: 80px;
    justify-self: center;

}

.search {
    border: 2px solid #FFC228;
    border-radius: 12px;
    height: 48px;
    width: 524px;
    margin-left: 70px;
    justify-content: center;
    align-items: first baseline;

}


.conteiner {
    height: 872px;
    width: 1049px;
    border-radius: 12px;
    border: 2px solid #FFC228;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    background-color: aquamarine;
    width: 100%;
    padding: 1rem;
    border-spacing: 2.5rem;
    display: grid;
    text-align: center;
    align-content: center;

}




.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 547px;
    width: 500px;
    grid-area: posts;
    background: linear-gradient(0deg, #2ED47A, #2ED47A),
        linear-gradient(0deg, #FEFCFC, #FEFCFC);
    border: 2px solid #2ED47A;
    border-radius: 12px;




}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 547px;
    width: 500px;
    grid-area: partners;
    background: linear-gradient(0deg, #FEFCFC, #FEFCFC),
        linear-gradient(0deg, #FFC228, #FFC228);
    border: 2px solid #FFC228;
    border-radius: 12px;
}

.internet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1050px;
    height: 275px;
    grid-area: internet;
    background: linear-gradient(0deg, #00A3FF, #00A3FF),
        linear-gradient(0deg, #FEFCFC, #FEFCFC);
    border: 2px solid #00A3FF;
    border-radius: 12px;
    align-self: center;
}