.favorite-conteiner {
    height: 872px;
    width: 1049px;
    border-radius: 12px;
    border: 2px solid rgba(51, 59, 78, 1);
    display: grid;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

}

.search1 {
    border: 1px solid rgba(51, 59, 78, 1);
    border-radius: 12px;
    height: 48px;
    width: 524px;
    justify-content: center;
    align-items: first baseline;

}

.row1 {

    width: 904px;
    height: 80px;
    justify-self: center;

}

.grid-conteiner1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    padding: 30px;

}

.grid-conteiner1>div {
    border: 2px solid rgba(51, 59, 78, 1);
    border-radius: 12px;
    width: 150px;
    height: 200px;
}